version: '3.4'

services:
  api:
    image: isekai-api
    container_name: isekai-api
    restart: unless-stopped
    build:
      context: .
      dockerfile: ./Dockerfile
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    env_file:
      - .env
    environment:
      DB_HOST: database
      NODE_ENV: production
    ports:
      - 8080:8080
    networks:
      - app-network
  proxy:
    image: nginx:alpine
    container_name: isekai-proxy
    restart: always
    volumes:
      - ./certbot/www:/var/www/certbot/:ro
      - ./certbot/conf/:/etc/nginx/ssl/:ro
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    ports:
      - '80:80'
      - 443:443
    depends_on:
      - api
    networks:
      - app-network

  certbot:
    image: certbot/certbot
    container_name: certbot
    volumes:
      - ./certbot/www/:/var/www/certbot/:rw
      - ./certbot/conf/:/etc/letsencrypt/:rw
    depends_on:
      - proxy
    networks:
      - app-network
  database:
    image: postgres:9.4
    container_name: database
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=saota1278
      - POSTGRES_DB=isekai-social
    ports:
      - '5432:5432'
    networks:
      - app-network
    volumes:
      - db:/var/lib/postgresql/data

networks:
  app-network:
    driver: bridge
volumes:
  db:
    driver: local
